[user]
	name = Gabriel-SGama
	email = gabrielsgamma@gmail.com
[core]
	autocrlf = input
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[safe]
	directory = /media/lasi/disks/documentos/gama/Pangolin/components/pango_python/pybind11
	directory = /media/lasi/disks/documentos/gama/Pangolin
	directory = /media/lasi/disks/documentos/gama/Pangolin/scripts/vcpkg
	directory = /media/lasi/disks/documentos/gama/pytorch/android/libs/fbjni
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/FP16
	directory = /media/lasi/disks/documentos/gama/pytorch
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/FXdiv
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/NNPACK
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/QNNPACK
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/XNNPACK
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/XNNPACK
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/benchmark
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/cpuinfo
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/cpuinfo
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/cub
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/cudnn_frontend
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/eigen
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/fbgemm
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/fbgemm/third_party/asmjit
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/fbgemm/third_party/asmjit
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/fbgemm/third_party/asmjit
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/flatbuffers
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/fmt
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/foxi
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/gemmlowp/gemmlowp
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/gloo
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/googletest
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/ideep
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/fbgemm/third_party/cpuinfo
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/fbgemm/third_party/googletest
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/ideep/mkl-dnn
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/ios-cmake
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/ideep/mkl-dnn/third_party/oneDNN
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/ideep/mkl-dnn/third_party/oneDNN
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/kineto
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/kineto
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/kineto/libkineto/third_party/fmt
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/nccl/nccl
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/kineto/libkineto/third_party/googletest
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/neon2sse
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/onnx
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/onnx/third_party/benchmark
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/onnx-tensorrt
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/onnx/third_party/pybind11
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/pocketfft
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/onnx-tensorrt/third_party/onnx
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/protobuf
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/onnx-tensorrt/third_party/onnx/third_party/benchmark
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/psimd
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/protobuf/third_party/benchmark
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/pthreadpool
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/protobuf/third_party/googletest
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/pybind11
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/python-enum
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/python-peachpy
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/onnx-tensorrt/third_party/onnx/third_party/pybind11
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/python-six
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/onnx-tensorrt/third_party/onnx/third_party/pybind11/tools/clang
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/sleef
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/tbb
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/tensorpipe
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/zstd
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/tensorpipe/third_party/googletest
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/tensorpipe/third_party/libnop
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/tensorpipe/third_party/libuv
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/tensorpipe/third_party/pybind11
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/tensorpipe/third_party/pybind11/tools/clang
	directory = /media/lasi/disks/documentos/gama/ORB_SLAM2_SuperPoint
	directory = /media/lasi/disks/documentos/gama/hipamd
	directory = /media/lasi/disks/documentos/gama/HIP
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/nlohmann
	directory = /media/lasi/disks/documentos/gama/pytorch/third_party/nlohmann
	directory = /media/lasi/disks/documentos/gama/semantic-ORB/ORB_SLAM2
	directory = /media/lasi/disks/documentos/gama/tcc/DAFormer
	directory = /media/lasi/disks/documentos/gama/tcc/unitary-scalarization-dmtl
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
[credential]
	helper = "!f() { /lasi/cosine_metric_learning/.vscode-server/bin/dfaf44141ea9deb3b4096f7cd6d24e00c147a4b1/node /tmp/vscode-remote-containers-0e4f430a-28d8-471f-8731-026278afc5c6.js git-credential-helper $*; }; f"
