#tensorflow==2.11.0
#tensorflow-gpu==2.12.0
tensorflow==2.12.0
numpy
scipy
matplotlib
#tensorboardX
tqdm
scikit-learn
opencv-python
tf_slim
bs4
# nuscenes-devkit
# mmcv==1.4.0
# mmcv-full==1.4.0
# mmdet==2.20.0